<!DOCTYPE html>
<html lang="en">
<head>
  <title>PE Tracker</title>
  <meta charset="UTF-8">
  </head>
  <body>
    <style>
      body {
      background-color: #E2D2B0;
      }
      h1 {
      background-color: #D2B48C;
      padding-top: 15px;
      height: 100px;
      text-align: center;
      }
      nav {
      padding-top: 8px;
      font-weight: bold;
      display: block;
      width: 250px;
      height: fit-content;
      background-color: #D2B48C;
      }
      button {
      margin-top: 5px;
      width: 200px;
      height: 25px;
      margin-left: 25px;
      margin-bottom: 10px;
      } 
      </style>
    
 <h1>UW-La Crosse PE Tracker<br><span id="seconds">getting the local time....</span></h1>  

 <nav>
    <% tasks.forEach(function(r) {%>
      
     <button id='<%= r.id %>'
        onClick='javascript:logTask(<%=r.id%>);' ><%= r.name %>
        
      <%
    ;%>

    <% }); %>

    <button onclick="myStopFunction()">Stop time</button>
     </nav>
    <script>
    const myInterval = setInterval(currentTime, 1000);
    
    function currentTime() {
      const timer = new Date();
      document.getElementById("seconds").innerHTML = timer.toLocaleTimeString();
    }
    
    function myStopFunction() {
      clearInterval(myInterval);
      
    }
    

  let currentTaskId = null;

  const logTask = async function(id) {
    const response = await fetch('/log', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        users_id: -1,
        students_id: -1,
        tasks_id: id,
        duration: "'+00:00:01'"
      })
    });
      const result = await response.json();
      console.log(result);

      currentTaskId = id;
  };
    </script>

  </body>


</html>