<!DOCTYPE html>
<html lang="en">
<head>
  <title>PE Tracker</title>
  <meta charset="UTF-8">
  <style>
    body {
    background-color: #E2D2B0;
    }
    h1 {
    height: 100px;
    text-align: center;
    }
    nav {
    padding-top: 8px;
    width: 250px;
    }
    button {
    margin-top: 5px;
    width: 200px;
    height: 35px;
    margin-left: 25px;
    margin-bottom: 10px;
    } 
    button:focus {
      background-color: green;
    }
    </style>
  </head>
  <body>
   
    
 <h1>PE Tracker</h1>  
 
 <%tasks.forEach(function(r) {%> 
      <nav> 
     <button id='<%=r.id%>'
        onClick='javascript:stopButton(); logTask(<%=r.id%>);'><%= r.name %>    
      <%;%></button></nav>  
    <%});%>
 
  <script>

var startTime;
let durationGeneration;
function startButton() {
    startTime = Date.now();
}
function msToHMS( ms ) {
    var seconds = ms / 1000;
    var hours = parseInt( seconds / 3600 ); 
    seconds = seconds % 3600; 
    var minutes = parseInt( seconds / 60 );
    seconds = Math.round(seconds % 60);
    durationGeneration = ( "'" + "+00" + ":" + minutes + ":" + seconds + "'");
}

function stopButton() {
    if (startTime) {
        var endTime = Date.now();
        var difference = endTime - startTime;
        msToHMS( difference );
      //  alert('Duration is: ' + durationGeneration);
        startButton();
    } else {
      startButton();
      durationGeneration = ("'" + "+00" + ":" + "00" + ":" + "01" + "'");
    }
}
  let currentTaskId = null;

  const logTask = async function(id) {
    const response = await fetch('/log', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        users_id: -1,
        students_id: -1,
        tasks_id: id,
        duration: durationGeneration
      })
    });
      const result = await response.json();
      console.log(result);

      currentTaskId = id;
  };
    </script>
  </body>
</html>